body {
    background-color: #EEF2F3;
}

h1, h2 {
    color: #132F3A;
    display: flex;
    justify-content: center;
}

.originals {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 15px;
    font-size: 2rem;
}

p {
    display: flex;
    justify-content: center;
    color: red;
    max-width: 5%;
    font-size: 2rem;
    padding: 0 700px;
}

.copies {
    
        display: flex;
        flex-direction: column;
        border: solid 5px;
        margin: 40px;
}

button {
    color: blue;
    font-size: 2rem;
}